.loses-content {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
}

.loses-item {
    flex: 0 0 31.333%;
    padding: 1rem;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    align-items: center;
    font-size: 24px;
}
.loses-item-icon {
    display: flex;
    justify-content: center;
    flex: 0 0 40%;
    padding: 1rem;
}